<div id="reaper-client-side-props" style="display: none;">
    <%= JSON.stringify(clientSideProps) %>
</div>
<div id="reaper-client-side-names" style="display: none;">
    <%= JSON.stringify(clientSideNames) %>
</div>
<script id="data-injection-script">
    (function() {
        const propsElement = document.getElementById("reaper-client-side-props");
        window.reaperClientSideProps = JSON.parse(propsElement.textContent);
        propsElement.remove()
        const namesElement = document.getElementById("reaper-client-side-names");
        window.reaperClientSideNames = JSON.parse(namesElement.textContent);
        namesElement.remove()
        const self = document.getElementById("data-injection-script");
        self.remove()
    })();
</script>
